a {
    outline: 0;
}

.bs-popover-auto[x-placement^="right"]>.arrow::after,
.bs-popover-right>.arrow::after {
    border-right-color: #dc3545;
}

.bs-popover-auto[x-placement^="bottom"]>.arrow::after,
.bs-popover-bottom>.arrow::after {
    border-bottom-color: #dc3545;
}

.bs-popover-auto[x-placement^="left"]>.arrow::after,
.bs-popover-left>.arrow::after {
    border-left-color: #dc3545;
}

.bs-popover-auto[x-placement^="top"]>.arrow::after,
.bs-popover-top>.arrow::after {
    border-top-color: #dc3545;
}

.no-radius {
    border-radius: 0;
}

.btn {
    cursor: pointer
}

.position-tr { 
    position: absolute;
    z-index: 1301; 
    width: auto;

    top: 145px;
    right: 30px; 
}

.position-tl { 
    position: absolute;
    z-index: 1301; 
    width: auto;
    
    top: 145px;
    left: 30px; 
}

.position-br { 
    position: absolute;
    z-index: 1301; 
    width: auto;
    
    bottom: 60px;
    right: 30px; 
}

.position-bl { 
    position: absolute;
    z-index: 1301; 
    width: auto;
    
    bottom: 60px;
    left: 30px; 
}

.modal-alert {
    padding: 0;
}

.modal-alert > .modal-title {
    width: 100%;
}

.modal-alert > .modal-title > .alert {
    margin: 0;
}

.pointer {
    cursor: pointer;
}